html {
  box-sizing: border-box;
}   


#calculator_container {
    width: 400px;
    height: 100%;

    outline-style: solid;
    outline-color: blue;
    outline-width: 1px;
}

#button_container {
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*padding: 5px;*/
    /*grid-row-gap: 10px;*/
}

.calc_button {
   /* outline-style: solid;
    outline-color: black;
    outline-width: 1px;*/
    border-radius: 2px;
    border-style: solid;
    border-color: #C3C3C3;
    border-width: 1px;

    background-color: #E3E3E3;

    text-align: center;
    font-size: 30px;

    
    margin: 3px;
}

.calc_button:hover {
    background-color: #D3D3D3;
}

.calc_button:active {
    background-color: #B3B3B3;
}

#button_\= {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #63fdb6;
}

#button_\=:hover {
    background-color: #53eda6;
}

#button_\=:active {
    background-color: #33cd86;
}

#button_AC {
    background-color: #fb6767;
}

#button_AC:hover {
    background-color: #eb5757;
}

#button_AC:active {
    background-color: #cb3737;
}
