/*//////////////////////////////////////
//
//  Over Complicated Calculator
// 
//    Michael Aboff
//    mwaboff@gmail.com
//    https://github.com/mwaboff
//
//    DSN6040 - Web Design and Javascript
//
//////////////////////////////////////*/

body {
    box-sizing: border-box;
    background-color: #D95B43;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#calculator_container {
    width: 400px;
    margin: 0 auto;
    align-self: center;
}

/*Calculator Display*/
#output_container {
    background-color: #542437;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: #EFEFEF;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    overflow-wrap: break-word;

    padding: 5px;
}

#curr_expression {
    font-size: 40px;
    margin: 5px;
}

/*Buttons*/
#button_container {
    background-color: #CCCCCC;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calc_button {
    border-radius: 2px;
    border-style: solid;
    border-color: #C3C3C3;
    border-width: 1px;

    background-color: #E3E3E3;

    text-align: center;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;

    margin: 3px;
}

.calc_button:hover {
    filter: brightness(90%);
}

.calc_button:active {
    filter: brightness(70%);
}

#button_\= {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #53777A;
}

#button_C {
    background-color: #C02942;
}

.clicked_button {
    filter: brightness(50%);
}

/*Signature*/
.signature {
    color: #EFEFEF;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 5px;
    font-family: 'Work Sans', sans-serif;
}