body {
    box-sizing: border-box;
    background-color: orange;
}

#calculator_container {
    width: 400px;
    height: 100%;
    margin: 0 auto;
}

#output_container {
    background-color: #272822;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: #EFEFEF;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    overflow-wrap: break-word;

    padding: 5px;
}

#curr_expression {
    font-size: 40px;
    margin: 5px;
}

#total {
    font-size: 20px;
    margin: 5px;
}

#button_container {
    background-color: #CCCCCC;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /*padding: 5px;*/
    /*grid-row-gap: 10px;*/
}

.calc_button {
   /* outline-style: solid;
    outline-color: black;
    outline-width: 1px;*/
    border-radius: 2px;
    border-style: solid;
    border-color: #C3C3C3;
    border-width: 1px;

    background-color: #E3E3E3;

    text-align: center;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;


    
    margin: 3px;
}

.calc_button:hover {
    background-color: #D3D3D3;
}

.calc_button:active {
    background-color: #B3B3B3;
}

#button_\= {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #63fdb6;
}

#button_\=:hover {
    background-color: #53eda6;
}

#button_\=:active {
    background-color: #33cd86;
}

#button_AC {
    background-color: #fb6767;
}

#button_AC:hover {
    background-color: #eb5757;
}

#button_AC:active {
    background-color: #cb3737;
}
